/Makefile.am
/alloca.in.h
/arpa_inet.in.h
/asnprintf.c
/errno.in.h
/fd-hook.c
/fd-hook.h
/float+.h
/float.c
/float.in.h
/gai_strerror.c
/gettext.h
/itold.c
/memchr.c
/memchr.valgrind
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/netdb.in.h
/netinet_in.in.h
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/size_max.h
/sockets.c
/sockets.h
/stdalign.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/string.in.h
/sys_socket.c
/sys_socket.in.h
/sys_types.in.h
/sys_uio.in.h
/unistd.c
/unistd.in.h
/vasnprintf.c
/vasnprintf.h
/verify.h
/w32sock.h
/wchar.in.h
/xsize.c
/xsize.h
/chown.c
/dosname.h
/fchown-stub.c
/fcntl.in.h
/fstat.c
/gettimeofday.c
/lchown.c
/lstat.c
/open.c
/pathmax.h
/stat.c
/sys_stat.in.h
/sys_time.in.h
/time.in.h
/fseek.c
/fseeko.c
/getdelim.c
/getline.c
/getpass.c
/getpass.h
/lseek.c
/malloc.c
/realloc.c
/stdio-impl.h
/stdlib.in.h
/strdup.c
/pipe.c
/sys_wait.in.h
/waitpid.c
/raise.c
/sig-handler.c
/sig-handler.h
/sigaction.c
/signal.in.h
/sigprocmask.c
/getsockopt.c
/bind.c
/setsockopt.c
/listen.c
/getsockname.c
/accept.c
/socket.c
/connect.c
/close.c
/sys_select.in.h
/getpeername.c
/alloca.c
/dup2.c
/select.c
/fpucw.h
/frexp.c
/frexpl.c
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/math.c
/math.in.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/signbitd.c
/signbitf.c
/signbitl.c
/asprintf.c
/vasprintf.c
